
body{ 
    margin: 0px;
    padding: 0px;
   } 
/* custom fonts */

  @font-face {
   font-family: "Acidic"; 
   src: url('../css/custom-fonts/Acidic.ttf') format("truetype"); 
   src: url('../css/custom-fonts/Acidic.woff') format('woff');
   

 } 
 
 
/* ======================================================custom fonts */ 

.navbar-inverse { 
    
    background-color: rgba(120, 120, 120, 0.8);
    position: absolute;

}
.navbar a {
    color: white;
    font-weight: bold;
       text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
       -webkit-text-stroke-width: 0.1px;
   -webkit-text-stroke-color: black;  
}


.navbar li a:hover {
    background-color: white !important;
    color: rgba(128, 128, 128, 1) !important;
    font-weight: bold !important;  
}

header {
    background-repeat: no-repeat;
    height: 100px;
    background-color: orange;
    padding: 200px;
    width: 100%;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    
    
}
header img {
 height: 100px;
}

header h1 { font-size:50px;
            color: white;
            text-shadow: 2px 2px 5px black;
            text-align: center
}

header p{
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
}


#btn-group-1 {
    font-family: "Arial";
    font-size: 26px;
    background-color: grey;
}

.alert-danger {  font-size: 20px;
     background-color: hsl(0, 56%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a72f2f", endColorstr="#571818")!important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a72f2f), to(#571818))!important;
  background-image: -moz-linear-gradient(top, #a72f2f, #571818)!important;
  background-image: -ms-linear-gradient(top, #a72f2f, #571818)!important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a72f2f), color-stop(100%, #571818))!important;
  background-image: -webkit-linear-gradient(top, #a72f2f, #571818)!important;
  background-image: -o-linear-gradient(top, #a72f2f, #571818)!important;
  background-image: linear-gradient(#a72f2f, #571818)!important;
  border-color: #571818 #571818 hsl(0, 56%, 17%)!important;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33)!important;
  -webkit-font-smoothing: antialiased !important;  
}

.block-a {
    font-size: 20px;
    margin: 20px 0px;
    border-top: 1px solid gray;
    padding: 5px 0;
}

.block-b {
    font-size: 20px;
    margin: 20px 0px;
    border-top: 1px solid gray;
    padding: 5px 0;
    background: #f1f1f1 !important;
}

.afbeelding1 {
   
    
    border-top: 1px solid gray;
    padding: 5px 0;
    
}

.afbeelding2 {
   

    border-top: 1px solid gray;
    padding: 5px 0;
}

.footer {
    width: 100%
    paddin: 20px 0; background: grey;
    
}

.about_para {
    font-size: 18px;
    line-height: 35px;
    background-color:#f1f1f1;
    text-align: center; 

}

#about-me { text-align: center;

}

.contact {
    background-color: grey;
    color: grey;
    padding: 20px 20px;
    line-height: 20px;
}
 {
    
}

.img-thumbnail {

}

#skills {
    margin: 50px 0;
}

#skills h2, p {
    text-align: center;
}



#testimonials { text-align: center;
                
    
}
.testimonial {
    margin-bottom: 60px;
}

.testimonial img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius:  50%;
    padding: 
}

#about-me img {
      border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius:  50%;
}

blockquote {
    padding: 0;
    border:  none;
    font-style:  italic;
    text-align: left;
}

blockquote cite {
    display: block;
    color: #777;
    margin: 15px 0 0 0 ;
}

#contact{
background: url(http://mountshastaecology.org/wp-content/uploads/2015/02/background-pattern-grey-bokeh.jpg)  center repeat fixed;
background-size: cover;
color:white;
padding: 10px 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
       -webkit-text-stroke-width: 0.1px;
   -webkit-text-stroke-color: black;  

}

#contact h3 {
    font-family: normal;
}

#portfolio {
    background-color:#f1f1f1;
}